body{
    background-color: aqua;
    padding: 0;
    margin: 0;
    text-align: center;
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;

    font-family: fantasy;
}

/* Nav Section */
.navigation {
    background-color: brown;
    display:flex;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin:0;
    padding: 0;

}

.nav-item a{
    margin: 1em;
    display: block;
    color: yellowgreen;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
}

.nav-item a:hover {
background-color: tomato;
color: thistle;
}

footer {
    width: 100%;
    color: aliceblue;
    background-color: brown;
    margin: 0;
    padding:0;
    text-align: center;
    margin-bottom: 0;
    height: 40px;

}

.wild{
    
    display: flex;
    flex-direction: row;
}

.fuzzy{
    display: flex;
    flex-direction: column;
}

img {
    width: 400px;
}



